# Automate your daily brief üíå

Bring everything together in an email to get your daily brief.

## Import necessary packages

In [1]:
import naas
import naas_drivers

## Set variables

In [2]:
stock = 'TSLA'
subject = "‚è∞ Reminder - Follow your favorite company : Tesla"

In [3]:
emails = open("users.txt", "r").read()

# Get stock data

In [4]:
data = naas_drivers.yahoofinance.get(stock, date_from=-200, moving_averages=[20,50])
data

getted data for TSLA https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1587386871&period2=1604670471&interval=1d&events=history

,Date,Open,High,Low,Close,Adj Close,Volume,Company,MA20,MA50
0,2020-04-20,146.539993,153.113998,142.442001,149.272003,149.272003,14746600,TSLA,NaN,NaN
1,2020-04-21,146.024002,150.666000,134.757996,137.343994,137.343994,20209100,TSLA,NaN,NaN
2,2020-04-22,140.796005,146.800003,137.742004,146.421997,146.421997,14224800,TSLA,NaN,NaN
3,2020-04-23,145.520004,146.800003,140.626007,141.126007,141.126007,13236700,TSLA,NaN,NaN
4,2020-04-24,142.162003,146.145996,139.636002,145.029999,145.029999,13237600,TSLA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
136,2020-10-30,406.899994,407.589996,379.109985,388.040009,388.040009,42511300,TSLA,426.767999,422.377960
137,2020-11-02,394.000000,406.980011,392.299988,400.510010,400.510010,29021100,TSLA,425.509500,422.188240
138,2020-11-03,409.730011,427.769989,406.690002,423.899994,423.899994,34351700,TSLA,426.005499,422.609440
139,2020-11-04,430.619995,435.399994,417.100006,420.980011,420.980011,32143100,TSLA,425.789501,422.935681
140,2020-11-05,428.299988,440.000000,424.000000,438.089996,438.089996,28188800,TSLA,426.398000,423.084800

## Calculate daily variations

In [5]:
data_display = data.copy()
data_display = data_display.sort_values(by="Date", ascending=False).reset_index(drop=True)
data_display

,Date,Open,High,Low,Close,Adj Close,Volume,Company,MA20,MA50
0,2020-11-05,428.299988,440.000000,424.000000,438.089996,438.089996,28188800,TSLA,426.398000,423.084800
1,2020-11-04,430.619995,435.399994,417.100006,420.980011,420.980011,32143100,TSLA,425.789501,422.935681
2,2020-11-03,409.730011,427.769989,406.690002,423.899994,423.899994,34351700,TSLA,426.005499,422.609440
3,2020-11-02,394.000000,406.980011,392.299988,400.510010,400.510010,29021100,TSLA,425.509500,422.188240
4,2020-10-30,406.899994,407.589996,379.109985,388.040009,388.040009,42511300,TSLA,426.767999,422.377960
...,...,...,...,...,...,...,...,...,...,...
136,2020-04-24,142.162003,146.145996,139.636002,145.029999,145.029999,13237600,TSLA,NaN,NaN
137,2020-04-23,145.520004,146.800003,140.626007,141.126007,141.126007,13236700,TSLA,NaN,NaN
138,2020-04-22,140.796005,146.800003,137.742004,146.421997,146.421997,14224800,TSLA,NaN,NaN
139,2020-04-21,146.024002,150.666000,134.757996,137.343994,137.343994,20209100,TSLA,NaN,NaN
140,2020-04-20,146.539993,153.113998,142.442001,149.272003,149.272003,14746600,TSLA,NaN,NaN

In [6]:
value = data_display.loc[0, "Close"]
value_last = data_display.loc[1, "Close"]

varv = value - value_last
varp = varv / abs(value_last) * 100

varv_diplay = '{:+.2f}'.format(varv)
varp_diplay = '{:+.2f}%'.format(varp)
value_display = '{:.2f}'.format(value)

print(value_display)
print(varv_diplay)
print(varp_diplay)

438.09
+17.11
+4.06%

## Create chart

In [7]:
graph = naas_drivers.plotly.stock(data)

Chart candlestick generated

## Export chart in png and html

In [8]:
image_file = f"{stock}.png"
html_file = f"{stock}.html"
naas_drivers.plotly.export(graph, [html_file, image_file])

Save as TSLA.html
Save as TSLA.png

## Expose image and html

In [9]:
url_img = naas.assets.add(image_file)
url_html = naas.assets.add(html_file, params={"inline": True})

üëå Well done! Your Assets has been sent to production.

Button(description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete
üëå Well done! Your Assets has been sent to production.

Button(description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete

## Get score of the news

In [10]:
%run S01E04-score-the-news.ipynb
sentiment_news

'Neutral'

## Get prediction chart

In [11]:
%run S01E05-predict-the-future.ipynb

getted data for TSLA https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1587386881&period2=1604670481&interval=1d&events=history
Performing stepwise search to minimize aic
Fit ARIMA: (1, 1, 1)x(0, 0, 0, 0) (constant=True); AIC=1192.903, BIC=1204.669, Time=0.178 seconds
Fit ARIMA: (0, 1, 0)x(0, 0, 0, 0) (constant=True); AIC=1190.138, BIC=1196.021, Time=0.012 seconds
Fit ARIMA: (1, 1, 0)x(0, 0, 0, 0) (constant=True); AIC=1190.977, BIC=1199.802, Time=0.116 seconds
Fit ARIMA: (0, 1, 1)x(0, 0, 0, 0) (constant=True); AIC=1191.087, BIC=1199.912, Time=0.190 seconds
Fit ARIMA: (0, 1, 0)x(0, 0, 0, 0) (constant=False); AIC=1190.250, BIC=1193.192, Time=0.010 seconds
Total fit time: 0.515 seconds
Chart linechart_close generated
Save as TSLA_prediction.html
Save as TSLA_prediction.png
üëå Well done! Your Assets has been sent to production.

Button(description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete
üëå Well done! Your Assets has been sent to production.

Button(description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete

In [15]:
email_content = naas_drivers.html.generate( 
        display='iframe',
        title=f'Evolution of {stock} stock',
        image_0 = "https://i.pinimg.com/originals/e1/2a/67/e12a6721d52e079c5e33632f66ddb8a9.jpg",
        heading_1 = f'üìà Last close price: {value_display}' ,
        heading_2 = f'üé∞ Variations: {varv_diplay} ({varp_diplay})' ,       
        heading_3 = f'üòé News sentiment: {sentiment_news}' ,
        
        button_Actual_200px=url_html,
        text_3 = "üëâ Click on the button above to open dynamic chart." ,
        image= url_img,
        button_Prediction_200px= url_html_file_prediction,
        text_4 = "üëâ Buy or Sell on <a href='https://www.etoro.com/markets/tsla'>Etoro</a>" ,
        image_future = url_image_file_prediction,
        heading_5 = "üî• News hotlist",
        table = table_news_email,
        
)

# Send email to emails list

In [16]:
naas.notifications.send(emails, subject, email_content)

üëå üíå Email has been sent successfully !

{'email': 'send'}

# Schedule this notebook and make it run every day at 9AM CET .

In [14]:
naas.scheduler.add(recurrence="0 9 * * *")

üëå Well done! Your Notebook has been sent to production.

‚è∞ It will be scheduled "At 09:00 every day" (more on the syntax on https://crontab.guru/).

Ps: to remove the "Scheduler", just replace .add by .delete