# ðŸ“° Scan the mood, score the news

You cannot read all the news. It's simply not possible. 
So, let's try to give the job to a machine that will scan the mood.

What you will get here is global average score of that goes from -1 (negative) to 1 (positive). 
We use natural language processing.

In [1]:
stock ="TSLA"

## Get the news from CityFalcon ðŸ‘‡
City Falcon is a news agregator.<br>
By default, you can with use our account on CityFalcon for test purpose.

In [2]:
import naas_drivers

In [3]:
import os
naas_drivers.cityfalcon.connect(os.environ.get("CITYFALCON_KEY", None))
table_news = naas_drivers.cityfalcon.get(stock, fields=["logo", "title", "link"])
table_news.rename(columns={'title':'text'}, inplace=True)
table_news.rename(columns={'link':'row_link'}, inplace=True)
table_news

,logo,text,row_link
0,https://cityfalconproduction.blob.core.windows...,Elon Musk launches $250 a bottle Tesla tequila...,https://www.dailymail.co.uk/news/article-89212...
1,https://cityfalconproduction.blob.core.windows...,Elon Musk launches $250 a bottle Tesla tequila,https://www.dailymail.co.uk/news/article-89212...
2,https://cityfalconproduction.blob.core.windows...,Toyota CEO attempts Tesla analogy and fails: â€˜...,https://www.teslarati.com/toyota-ceo-fails-tes...
3,https://cityfalconproduction.blob.core.windows...,Li Auto Recalls Li One SUVs; China Electric Ca...,https://www.investors.com/news/li-auto-stock-f...
4,https://cityfalconproduction.blob.core.windows...,'Teslaquila': Elon Musk has done it! Tesla lau...,https://www.businesstoday.in/current/world/elo...
...,...,...,...
95,https://cityfalconproduction.blob.core.windows...,Tesla â€˜maniaâ€™ spoils notorious short-seller Ei...,https://www.teslarati.com/tesla-mania-greenlig...
96,https://cityfalconproduction.blob.core.windows...,TSLA Bear Hedge-Fund Greenlight Capital Loses ...,https://www.tesmanian.com/blogs/tesmanian-blog...
97,https://cityfalconproduction.blob.core.windows...,Tesla Model 3 updates: Take a closer look at t...,https://www.cnet.com/roadshow/news/tesla-model...
98,https://cityfalconproduction.blob.core.windows...,Why Nio is a Better Buy Than Tesla,https://investorplace.com/2020/11/nio-stock-wh...
99,https://cityfalconproduction.blob.core.windows...,Tesla Submits Application For Model Y Manufact...,http://feeds.benzinga.com/~r/benzinga/media/~3...

In [4]:
table_news_scored =  naas_drivers.sentiment.get(table_news, column_name="text")

In [5]:
score_news = table_news_scored["Score"].mean()
score_news

0.041847

In [6]:
sentiment_news = naas_drivers.sentiment.categorize(score_news)
sentiment_news

'Neutral'

# Create the news hotlist ðŸ”¥

In [7]:
table_news_email = table_news[:5]
table_news_email

,logo,text,row_link,senti_score
0,https://cityfalconproduction.blob.core.windows...,Elon Musk launches $250 a bottle Tesla tequila...,https://www.dailymail.co.uk/news/article-89212...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,https://cityfalconproduction.blob.core.windows...,Elon Musk launches $250 a bottle Tesla tequila,https://www.dailymail.co.uk/news/article-89212...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,https://cityfalconproduction.blob.core.windows...,Toyota CEO attempts Tesla analogy and fails: â€˜...,https://www.teslarati.com/toyota-ceo-fails-tes...,"{'neg': 0.177, 'neu': 0.823, 'pos': 0.0, 'comp..."
3,https://cityfalconproduction.blob.core.windows...,Li Auto Recalls Li One SUVs; China Electric Ca...,https://www.investors.com/news/li-auto-stock-f...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
4,https://cityfalconproduction.blob.core.windows...,'Teslaquila': Elon Musk has done it! Tesla lau...,https://www.businesstoday.in/current/world/elo...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."