<div class="clearfix" style="padding: 10px; padding-left: 0px">
<img id="python_logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png" width="15%" style="display: inline-block;">

# Python: Libraries and modules

## Libraries

Most of the functionality in Python is provided by *libraries* / *modules*.

A Python library is a collection of related modules. It contains bundles of code that can be used repeatedly in different programs.<br>
It makes Python Programming simpler and convenient for the programmer.<br>
As we donâ€™t need to write the same code again and again for different programs.

Python has a huge collection of libraries that can easily used by anyone.<br> 

Here below is the list of the most used:
- pandas
- requests
- os
- plotly

### Import library

To use a library in a Python program it first has to be imported.<br>
A library can be imported using the `import` statement.

For example, to import the library `pandas`, which contains many standard functions to manage tables (dataframe), you can do:

In [1]:
import pandas

If you tried to `import` a library that does not exist, it will return an `ModuleNotFoundError`

In [2]:
import panda

ModuleNotFoundError: No module named 'panda'

### Looking at what a library contains, and its documentation

Once a module is imported, we can list the symbols it provides using the `dir` function:

In [3]:
print(dir(pandas))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

Then, you will able to execute any code of this library using its name following by its functions.<br>
Here below, we will used the function `DataFrame` in the pandas library to create a dataframe from an object.

In [4]:
obj = [{"DATE": "2022-01-01", "VALUE": 1}]

df = pandas.DataFrame(obj)
df

         DATE  VALUE
0  2022-01-01      1

If you tried to function/module that does not exist, it will return an `AttributeError`

In [5]:
obj = [{"DATE": "2022-01-01", "VALUE": 1}]

df = pandas.DataFram(obj)
df

AttributeError: module 'pandas' has no attribute 'DataFram'

### Rename library

To rename a library you can add the keyword `as` after importing your library

In [6]:
import pandas as pd

Then, you will be able to use it in your function

In [7]:
obj = [{"DATE": "2022-01-01", "VALUE": 1}]

df = pd.DataFrame(obj)
df

         DATE  VALUE
0  2022-01-01      1

### Import all functions using `from`

To access to a specific module within your library you can use the keyword `from` and `import`.

This will access directly to your module with the same result but with less code to execute.<br>
Please see the example below.

In [8]:
import naas_drivers

df = naas_drivers.yahoofinance.get("TSLA")
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2022-05-02,860.770020,906.359985,848.030029,902.940002,902.940002,25260500,TSLA
1,2022-05-03,903.179993,924.080017,888.590027,909.250000,909.250000,21236500,TSLA
2,2022-05-04,903.940002,955.500000,885.280029,952.619995,952.619995,27214600,TSLA
3,2022-05-05,939.020020,945.599976,857.700012,873.280029,873.280029,30839700,TSLA
4,2022-05-06,887.000000,888.000000,843.109985,865.650024,865.650024,24301000,TSLA

In [9]:
from naas_drivers import yahoofinance

df = yahoofinance.get("TSLA")
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Ticker
0,2022-05-02,860.770020,906.359985,848.030029,902.940002,902.940002,25260500,TSLA
1,2022-05-03,903.179993,924.080017,888.590027,909.250000,909.250000,21236500,TSLA
2,2022-05-04,903.940002,955.500000,885.280029,952.619995,952.619995,27214600,TSLA
3,2022-05-05,939.020020,945.599976,857.700012,873.280029,873.280029,30839700,TSLA
4,2022-05-06,887.000000,888.000000,843.109985,865.650024,865.650024,24301000,TSLA

### Get more help

Using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

In [ ]:
help(pandas)

A complete lists of standard modules for Python 2 and Python 3 are available at http://docs.python.org/2/library/ and http://docs.python.org/3/library/, respectively.

## Further reading

* http://www.python.org - The official web page of the Python programming language.
* http://www.python.org/dev/peps/pep-0008 - Style guide for Python programming. Highly recommended. 
* http://www.greenteapress.com/thinkpython/ - A free book on Python programming.
* [Python Essential Reference](http://www.amazon.com/Python-Essential-Reference-4th-Edition/dp/0672329786) - A good reference book on Python programming.